/* All of file */
* {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: white;
}

.game-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  text-align: center;
  width: 510px;
  border-bottom: solid 1px #3a3a3c;
}

.tile-container {
  width: 330px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.key-container {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}

.key-container button {
  width: 43px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: #818384;
  /* color: #ffffff; */
  margin: 4px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
  width: 68px;
}

.key-container button:nth-child(11) {
  margin-left: 30px;
}

.tile-container div {
  display: flex;
}

.tile-container .tile {
  width: 62px;
  height: 62px;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.message-container {
  height: 30px;
  margin: 10px;
}

.message-container p {
  background-color: #818384;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

.tile.flip {
  animation: 0.5s linear flipping;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(8deg);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }

  40% {
    transform: translateY(5%);
  }

  60% {
    transform: translateY(-25%);
  }

  80% {
    transform: translateY(2.5%);
  }

  90% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Order of the overlays are important */
/* We want to be overide to green if tile is correct */
.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}

.yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
}

.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}

/* SVG styling and animation */
svg {
  max-width: 10vw;
  max-height: 10vw;
}

svg path {
  fill: red;
  stroke: red;
  stroke-width: 3.8;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
